
/*@font-face {
    font-family: 'Lantingchaoxi';
    src: url('../asset/Lantingchaoxi.eot');
    src: url('../asset/Lantingchaoxi.eot?#iefix') format('embedded-opentype'),
    url('../asset/Lantingchaoxi.TTF') format('truetype');
    url('../asset/_-webfont.woff') format('woff'),
    url('../asset/_-webfont.svg#fzlantingheis-ul-gbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
a,p,div,h1,h2{
    color: #9c9c9c;
    font-family: "microsoft yahei";
}
a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background: #fafafa;
    min-width: 1220px;
}


img{
    border: none;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    float: left;
    list-style-type: none;
}

.blur {
    filter:url(blur.svg#blur);
    -webkit-filter: blur(5px); /* Chrome, Opera */
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5, MakeShadow=false); /* IE6~IE9 */
}


body.index{
    background: #040608;
    background-color: rgb(5,5,5);
}

#index .main{
    margin: 0 auto;
    width: 100%;
    min-width: 800px;
    max-width: 1080px;
    position: relative;
}
#index .background{
    width: 100%;
    height: 100%;
}

.index-logo {

	margin: 0 auto;
	display: block;
}

.index-img {
	/*width: 641px;
	height: 638px;*/
	margin: 100px auto 0 auto;
	display: block;
	position: relative;
	left: -20px;
}

#index .front{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#index .section .loginbtn{
    width: 1000px;
    margin: 300px auto 0 auto;
    position: relative;
    top: -100px;
}
#index .section .loginbtn a{
    float: left;
    display: block;   
    width: 60px;
    height: 60px;
    margin: 20px 30px 0 0px;
}
#login,#register {
	border-radius: 50%;
    border: 1px solid rgb(150,150,150);
}
#login:hover,#register:hover {
	border: 1px solid rgb(251,251,251);
}
#index .section .loginbtn a#godown{
    float: right;
    margin: 30px 0 0 0;
}

#index .flow{
    width: 1080px;
    margin: 100px auto 0 auto;
}
#index .flow label{
    font-family: "microsoft yahei";
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(251,251,251);
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}
#index .flow p{
    width: 100%;
    text-align: center;
    
    
}
#index .flow ul{
    margin: 20px auto;
    width: 795px;
}
#index .flow ul li{
   	
}
#index .flow ul li img{
	margin-left: 30px;
	margin-right: 30px;
    width: 50px;
    height: 50px;
    float: left;
}
#index .flow ul li span{
    display: block;
    float: left;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}
#index .flow ul li p{
    width: 80px;
    margin-left: 15px;
    font-size: 16px;
    color: rgb(251,251,251);
}
#index .flow a{
    margin: 20px auto;
    display: block;
    width: 21px;
}

i.first{
	animation: myfirst 0.9s ease-out infinite alternate;
	/* Firefox: */
	-moz-animation: myfirst 0.9s ease-out infinite alternate;
	/* Safari 和 Chrome: */
	-webkit-animation: myfirst 0.9s ease-out infinite alternate;
	/* Opera: */
	-o-animation: myfirst 0.9s ease-out infinite alternate;
}
@keyframes myfirst
{
0%   {color: #FFFFFF;}
100% {color: #000000;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {color: #FFFFFF;}
100% {color: #000000;}
}

@-webkit-keyframes myfirst
{
0%   {color: #FFFFFF;}
100% {color: #000000;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {color: #FFFFFF;}
100% {color: #000000;}
}


.appear {
	animation: appear 1s linear 1s 1 forwards;
/* Firefox: */
-moz-animation: appear 1s linear 1s 1 forwards;
/* Safari 和 Chrome: */
-webkit-animation: appear 1s linear 1s 1 forwards;
/* Opera: */
-o-animation: appear 1s linear 1s 1 forwards;
}
@keyframes appear
{
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-moz-keyframes appear /* Firefox */
{
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-webkit-keyframes appear /* Safari 和 Chrome */
{
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-o-keyframes appear /* Opera */
{
0%   {opacity: 0;}
100% {opacity: 1;}
}

.disappear {
	animation: disappear 1s linear 1 forwards;
/* Firefox: */
-moz-animation: disappear 1s linear 1 forwards;
/* Safari 和 Chrome: */
-webkit-animation: disappear 1s linear 1 forwards;
/* Opera: */
-o-animation: disappear 1s linear 1 forwards;
}
@keyframes disappear
{
0%   {opacity: 1;}
100% {opacity: 0;}
}

@-moz-keyframes disappear /* Firefox */
{
0%   {opacity: 1;}
100% {opacity: 0;}
}

@-webkit-keyframes disappear /* Safari 和 Chrome */
{
0%   {opacity: ;: 1;}
100% {opacity: 0;}
}

@-o-keyframes disappear /* Opera */
{
0%   {opacity: 1;}
100% {opacity: 0;}
}

.loginbtn a{
	font-family: 'microsoft yahei';
	color: rgb(150,150,150);
	font-size: 14px;
	line-height: 60px;
	text-align: center;
	display: block;
}

.loginbtn a:hover {
	color: rgb(251,251,251);
}

.login{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 800px;
    min-height: 600px;
}
.login.hide{
    visibility: hidden;
}
.login .form{
    position: relative;
    margin: 60px auto 0 auto;
    width: 520px;
    background: url("../asset/30.png");
}

.login .form img{
    display: block;
    width: 320px;
    margin: 0 auto;
    padding-top: 60px;
}

.login form{
    padding: 30px 0;
}
.login form input[type="text"],
.login form input[type="password"]
{
    display: block;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    margin: 10px auto;
    font-size: 16px;
    border: 1px #d7d7d7 solid;
    line-height: /*\**/ 30px \9;
}
.login form input[type="checkbox"]{
    margin-left: 100px;
}
.login form input[type="button"]{
    display: block;
    margin: 10px auto;
    width: 320px;
    height: 40px;
    background: #df3b42;
    border: 1px #be0008 solid;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
.login form > div{
    width: 320px;
    margin: 20px auto;
}
.login form > div span{
    padding-left: 50px;
}
.login p{
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.login a{
    color: #a7292e;
    font-size: 16px;
}
.login span{
    font-size: 16px;
}


#tobe_stage_msg {
	font-size: 14px;
}


.clear{
    clear: both;
}